/* src/App.css */

/* Reset default margin and padding for the entire page */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply a global font family and background color */
body {
  font-family: 'Qontra.woff2', Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Center the entire app content vertically and horizontally */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  width: 100%;
  text-align: center;
  position: fixed; /* Fixed position at the top */
  top: 0; /* Position at the top */
  left: 0; /* Align to the left */
  z-index: 1; /* Ensure it's above other content */
  padding: 0.5rem 0 1rem; /* Reduce top and bottom padding */
  display: flex; /* Use flex layout */
  align-items: center; /* Center vertically */
  justify-content: space-between;
  min-height: 90px; /* Set a minimum height for the header */
}

/* Style for the logo image */
.header-logo {
  max-width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Center the logo horizontally within the header */
.header-logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* Style for the website title */
.header-title {
  font-family: 'Qontra', Arial, sans-serif;
  font-size: 1.5rem; /* Adjust the font size as needed */
  text-transform: uppercase; /* Convert to all caps */
  margin-right: auto; /* Add space on the left */
  margin-left: 2rem; /* Add space on the left */
  letter-spacing: 2px; /* Adjust the letter spacing as needed */
}

nav ul {
  margin-left: auto; /* Push navigation to the right */
  margin-right: 1rem; /* Add space to the right */
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-grow: 1;
}

nav li {
  margin: 0 1rem;
  /* text-transform: uppercase; /* Convert to all caps */
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'Qontra', Helvetica, sans-serif;
  font-size: 1.2rem; /* Adjust the font size as needed */
  transition: color 0.3s ease-in-out;
  letter-spacing: 2px; /* Adjust the letter spacing as needed */
}

nav a:hover {
  color: #61dafb;
}

/* Gallery Styles */
.painting-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.painting-thumbnail {
  border: 1px solid #ddd;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

.painting-thumbnail img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.painting-thumbnail:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Additional Styles */
/* Add more CSS for your painting gallery and overall layout as needed. */
